<div
  class="container-fluid d-flex flex-column"
  style="width: 100%; height: 100%"
>
  <!-- Top Row -->
  <div class="row">
    <div class="col-3 p-0">
      <h3>All Users List</h3>

      <form action="">
        <label for="search" class="form-label"> Search User</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
          <input
            id="search"
            type="search"
            class="form-control"
            placeholder="Search By Username or Fullname"
            (input)="onSearch($event)"
            aria-label="Search by username"
          />
        </div>
      </form>
    </div>
    <div class="col-9 d-flex align-items-end justify-content-end p-0">
      <button class="btn btn-outline-primary" routerLink="/user/createUser">
        <i class="bi bi-person-plus-fill me-1"></i>
        Add New User
      </button>
    </div>
  </div>

  <!-- Middle Row -->
  <div
    class="row mt-4 align-items-start"
    style="height: 615px; overflow-y: hidden"
  >
    <div *ngIf="loading">Loading...</div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <table
      *ngIf="!loading"
      class="table table-striped table-bordered align-middle text-center"
    >
      <thead class="table-dark">
        <tr>
          <th class="no">No.</th>
          <th class="avatar">Avatar</th>
          <th class="name">Fullname</th>
          <th class="user">Username</th>
          <th class="email">Email Address</th>
          <th class="dob">Date of Birth</th>
          <th class="gender">Gender</th>
          <th class="role">User Role</th>
          <th class="date">Register Date</th>
          <th class="action">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of pagedUsers; let i = index">
          <td class="text-center" style="vertical-align: middle">
            {{ (currentPage - 1) * pageSize + i + 1 }}
          </td>
          <td style="width: 48px">
            <img
              [src]="avatarUrl(u)"
              alt="avatar"
              style="
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 20px;
              "
            />
          </td>
          <td>{{ u?.fullname }}</td>
          <td>{{ u?.username }}</td>
          <td>{{ u?.email }}</td>
          <td>{{ u?.dateOfBirth | date : "dd-MMM-yyyy" }}</td>
          <td>{{ u?.gender }}</td>
          <td>{{ u?.role }}</td>
          <td>{{ u?.created_date | date : "dd-MMM-yyyy" }}</td>
          <td>
            <button
              class="btn btn-outline-primary me-3"
              (click)="confirmAndEdit(u?.userID)"
              [disabled]="!u?.userID"
              routerLink="/user/createUser"
            >
              <i class="bi bi-pencil-square me-1"></i>
              Edit
            </button>
            <button
              class="btn btn-outline-danger"
              (click)="confirmAndDelete(u?.userID)"
              [disabled]="!u?.username"
            >
              <i class="bi bi-trash3-fill me-1"></i>
              Delete
            </button>
          </td>
        </tr>

        <tr *ngIf="!loading && pagedUsers.length === 0">
          <td colspan="10" class="text-center">No users found.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Bottom Row -->
  <div
    class="row mt-4"
    style="height: 60px; align-items: center; justify-content: center"
  >
    <div class="col d-flex justify-content-center align-items-center gap-3">
      <button
        class="btn btn-outline-primary"
        (click)="prev()"
        [disabled]="currentPage === 1"
      >
        <i class="bi bi-arrow-left-circle me-1"></i> Previous
      </button>

      <span class="fw-semibold">
        Page {{ currentPage }} of {{ totalPages }}
      </span>

      <button
        class="btn btn-outline-primary"
        (click)="next()"
        [disabled]="currentPage === totalPages"
      >
        Next <i class="bi bi-arrow-right-circle ms-1"></i>
      </button>
    </div>
  </div>
</div>
