<div class="d-flex vh-100">
  <app-sidebar></app-sidebar>
  <div
    class="d-flex flex-column flex-grow-1"
    [ngStyle]="{
      opacity: pageOpacity,
      transition: 'opacity 0.5s ease-in-out'
    }"
  >
    <app-header></app-header>
    <main
      class="flex-grow-1 p-4 overflow-auto bg-light"
      [ngStyle]="{
        opacity: pageOpacity,
        transition: 'opacity 0.5s ease-in-out'
      }"
    >
      <router-outlet (activate)="onRouteChange()"></router-outlet>
    </main>
  </div>
</div>

<!-- <div class="d-flex vh-100">
  <app-sidebar></app-sidebar>
  <div class="d-flex flex-column flex-grow-1">
    <app-header></app-header>
    <main class="flex-grow-1 p-4 overflow-auto bg-light">
      <router-outlet></router-outlet>
    </main>
  </div>
</div> -->

