<div class="register-container d-flex">
     <div class="col-md-6 form-section">
          <h2 class="mb-4 fw-bold text-center">Sign Up</h2>

          <form>
               <div class="input-group my-2">
                    <span class="input-group-text bg-primary text-white">
                         <i class="bi bi-person-lines-fill"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Fullname" name="fullname" required ng-touched
                         ng-dirty is-invalid ng-invalid>
               </div>

               <div class="input-group my-2">
                    <span class="input-group-text bg-primary text-white">
                         <i class="bi bi-person-fill"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Username" name="username" required ng-touched
                         ng-dirty is-invalid ng-invalid>
               </div>

               <div class="input-group my-2">
                    <span class="input-group-text bg-primary text-white">
                         <i class="bi bi-envelope-fill"></i>
                    </span>
                    <input type="email" class="form-control" placeholder="Email" name="email" required ng-touched
                         ng-dirty is-invalid ng-invalid>
               </div>

               <div class="input-group my-2">
                    <span class="input-group-text bg-primary text-white">
                         <i class="bi bi-lock-fill"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="Password" name="password" required
                         ng-touched ng-dirty is-invalid ng-invalid>
               </div>

               <div class="input-group my-2">
                    <span class="input-group-text bg-primary text-white">
                         <i class="bi bi-lock-fill"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirm password"
                         required ng-touched ng-dirty is-invalid ng-invalid>
               </div>

               <button type="submit" class="btn btn-primary w-100 mt-2">
                    Login
               </button>

               <div class="mt-3 text-center">
                    <small>Already Have Account?</small> <small class="text-primary register-btn" routerLink="/login">
                         Register</small>
               </div>
          </form>
     </div>

     <div class="col-md-6 register-image d-none d-md-block"></div>
</div>