<div class="register-container d-flex flex-wrap">
  <div class="col-md-6 form-section p-4">
    <h2 class="mb-4 fw-bold text-center">Sign Up</h2>

    <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
      <div class="row">
        <!-- Fullname -->
        <div class="col-md-6 my-1">
          <label class="form-label">Fullname</label>
          <div class="input-group">
            <span class="input-group-text bg-primary text-white">
              <i class="bi bi-person-lines-fill"></i>
            </span>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Fullname"
              formControlName="fullname"
              [ngClass]="{
                'is-invalid':
                  fullname?.invalid && (fullname?.dirty || fullname?.touched)
              }"
            />
          </div>
          <span
            class="small text-danger"
            *ngIf="fullname?.invalid && (fullname?.dirty || fullname?.touched)"
          >
            Fullname is Required
          </span>
        </div>

        <!-- Username -->
        <div class="col-md-6 my-1">
          <label class="form-label">Username</label>
          <div class="input-group">
            <span class="input-group-text bg-primary text-white">
              <i class="bi bi-person-fill"></i>
            </span>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Username"
              formControlName="username"
              [ngClass]="{
                'is-invalid':
                  username?.invalid && (username?.dirty || username?.touched)
              }"
            />
          </div>
          <span
            class="small text-danger"
            *ngIf="username?.invalid && (username?.dirty || username?.touched)"
          >
            Username is Required
          </span>
        </div>

        <!-- Gender -->
        <div class="col-md-6 my-1">
          <label class="form-label">Gender</label>
          <div class="input-group">
            <span class="input-group-text bg-primary text-white">
              <i class="bi bi-gender-ambiguous"></i>
            </span>
            <select
              class="form-select"
              formControlName="gender"
              [ngClass]="{
                'is-invalid':
                  gender?.invalid && (gender?.dirty || gender?.touched)
              }"
            >
              <option value="" disabled>Select your gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <span
            class="small text-danger"
            *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)"
          >
            Gender is required
          </span>
        </div>

        <!-- Date of Birth -->
        <div class="col-md-6 my-1">
          <label class="form-label">Date of Birth</label>
          <div class="input-group">
            <span class="input-group-text bg-primary text-white">
              <i class="bi bi-calendar-date-fill"></i>
            </span>
            <input
              type="date"
              class="form-control"
              formControlName="dateOfBirth"
              [ngClass]="{
                'is-invalid':
                  dateOfBirth?.invalid &&
                  (dateOfBirth?.dirty || dateOfBirth?.touched)
              }"
            />
          </div>
          <span
            class="small text-danger"
            *ngIf="
              dateOfBirth?.invalid &&
              (dateOfBirth?.dirty || dateOfBirth?.touched)
            "
          >
            Date of birth is required
          </span>
        </div>

        <!-- Email -->
        <div class="col-md-6 my-1">
          <label class="form-label">Email</label>
          <div class="input-group">
            <span class="input-group-text bg-primary text-white">
              <i class="bi bi-envelope-fill"></i>
            </span>
            <input
              type="email"
              class="form-control"
              placeholder="Enter Email"
              formControlName="email"
              [ngClass]="{
                'is-invalid': email?.invalid && (email?.dirty || email?.touched)
              }"
            />
          </div>
          <span
            class="small text-danger"
            *ngIf="
              email?.hasError('required') && (email?.dirty || email?.touched)
            "
          >
            Email is required
          </span>
          <span
            class="small text-danger"
            *ngIf="email?.hasError('email') && (email?.dirty || email?.touched)"
          >
            Please enter a valid email address
          </span>
        </div>

        <!-- Password -->
        <div class="col-md-6 my-1">
          <label class="form-label">Password</label>
          <div class="input-group">
            <span class="input-group-text bg-primary text-white">
              <i class="bi bi-lock-fill"></i>
            </span>
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              placeholder="Enter Password"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  password?.invalid && (password?.dirty || password?.touched)
              }"
            />
            <span
              class="input-group-text bg-primary text-white"
              role="button"
              (click)="togglePasswordVisibility()"
            >
              <i
                [ngClass]="
                  showPassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'
                "
              ></i>
            </span>
          </div>
          <span
            class="small text-danger"
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          >
            Password is required
          </span>
        </div>
      </div>

      <!-- Submit -->
      <button
        type="submit"
        class="btn btn-primary w-100 mt-3"
        [disabled]="registerForm.invalid"
      >
        <i class="bi bi-box-arrow-in-right"></i> Register
      </button>

      <div class="mt-3 text-center">
        <small>Already have an account?</small>
        <small class="text-primary register-btn" routerLink="/login">
          Login
        </small>
      </div>
    </form>
  </div>

  <!-- IMAGE SECTION -->
  <div class="col-md-6 register-image d-none d-md-block"></div>
</div>
