<div class="login-container d-flex">     
     <div class="col-md-6 form-section">
          <h2 class="mb-4 fw-bold text-center">Sign In</h2>
          <form>
               <div class="input-group my-4">
                    <span class="input-group-text bg-primary text-white">
                         <i class="bi bi-person-fill"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Enter Your Username" name="username" required
                         ng-touched ng-dirty is-invalid ng-invalid>
               </div>

               <div class="input-group my-4">
                    <span class="input-group-text bg-primary text-white">
                         <i class="bi bi-envelope-fill"></i>
                    </span>
                    <input type="email" class="form-control" placeholder="Enter Your Email" name="email" required
                         ng-touched ng-dirty is-invalid ng-invalid>
               </div>

               <div class="input-group my-4">
                    <span class="input-group-text bg-primary text-white">
                         <i class="bi bi-lock-fill"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="Enter Your Password" name="password"
                         required ng-touched ng-dirty is-invalid ng-invalid>
               </div>

               <button type="submit" class="btn btn-primary w-100 mt-2">
                    Login
               </button>

               <div class="mt-3 text-center">
                    <small>Don't have an account?</small> <small class="text-primary register-btn"
                         routerLink="/register"> Register</small>
               </div>
          </form>
     </div>
     
     <div class="col-md-6 login-image d-none d-md-block">
          <h1 class="fw-bold text-white">
               Welcome
          </h1>
     </div>
</div>