<div class="login-container d-flex">
     <div class="col-md-6 form-section">
          <h2 class="mb-4 fw-bold text-center">Sign In</h2>
          <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
               <div class="input-group my-2">
                    <span class="input-group-text bg-primary text-white">
                         <i class="bi bi-person-fill"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Username" formControlName="username">
               </div>               
               <span class="small text-danger" *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                    Username is Required
               </span>

               <div class="input-group my-2">
                    <span class="input-group-text bg-primary text-white">
                         <i class="bi bi-lock-fill"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="Password" name="password"
                         formControlName="password">
               </div>
               <span class="small text-danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                    Password is Required
               </span>

               <button type="submit" class="btn btn-primary w-100 mt-2" [disabled]="loginForm.invalid">
                    <span>
                         <i class="bi bi-box-arrow-in-right"></i>
                    </span>
                    Login
               </button>

               <div class="mt-3 text-center">
                    <small>Don't have an account?</small>
                    <small class="text-primary register-btn" routerLink="/register"> Register</small>
               </div>
          </form>
     </div>

     <div class="col-md-6 login-image d-none d-md-block">
          <h1 class="fw-bold text-white text-center">
               Welcome
          </h1>
     </div>
</div>